.section1,
.section2 {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.section1 {
    display: flex;
    background: #b9480e;
    height: 45px;
    text-align: center;
}

.section1 img {
    padding: 4px;
    padding-left: 50px;
}

.section1 span {
    color: #FFF;
    backdrop-filter: #FFF;
    margin: auto 0;
    padding: 4px 8px 4px 3px;
}

.section1 p {
    margin: auto;
    color: #FFF;
}

.section2 {
    height: 32px;
    display: flex;
    background: #f2f2f2;
    font-size: 17px;
}

.section2 span {
    background: #f50100;
    color: #FFF;
    margin: auto 0;
    padding: 4px 8px 4px 3px;
}

.section2 p {
    margin-bottom: 0;
    color: #908e90;
    margin: auto;
}

.section2 .track {
    margin-left: 10px;
}

.section2 .mon {
    margin-right: 10px;
}